@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body {
    background-color: black;
    color: white;
    font-family: 'Iropke Batang', serif; 
}

.test_L {
    position: relative;
    right: 28.5%;
    background-color: white;
    border: 10px solid white;
    transform: rotate(135deg);
}

.test_R {
    position: relative;
    left: 30%;
    background-color: white;
    border: 10px solid white;
    transform: rotate(45deg);
}

.Location_Host {
    position: relative;
    left: 10%;
    text-align: left;
    font-size: 2.5rem
}

.flo{
    transition: all ease 1s;
}

.flo:hover{
    transform: scale( 1.1 );
}