@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
body {
    background-color: black;
    color: white;
    font-family: 'Iropke Batang', serif;
}

.test_L {
    width: 200%;
    position: relative;
    right: 60%;
    background-color: white;
    border: 10px solid white;
    transform: rotate(135deg);
}

.test_R {
    width: 200%;
    position: relative;
    left: -40%;
    background-color: white;
    border: 10px solid white;
    transform: rotate(45deg);
}

.flo {
    transition: all ease 1s;
}

.flo:hover {
    transform: scale( 1.1);
}

@media all and (min-width:320px) {
    .head3 {
        font-size: 1rem;
    }
    .head1 {
        font-size: 5rem;
    }
    .Location_Host {
        text-align: left;
        font-size: 0.8rem
    }
}

@media all and (min-width:768px) {
    .box{
        margin-bottom: 3%;
    }
    .head3 {
        font-size: 2rem;
    }
    .head1 {
        font-size: 9rem;
    }
    .Location_Host {
        text-align: left;
        font-size: 1.5rem
    }
}

@media all and (min-width:1024px) {
    .box{
        margin-bottom: 5%;
    }
    .head3 {
        font-size: 3rem;
    }
    .head1 {
        font-size: 12rem;
    }
    .Location_Host {
        text-align: left;
        font-size: 2.5rem
    }
}